/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-card: #353430;
  --color-menu: #353430;
  --color-title: #FFC2E6;
  --color-title-decor: #353430;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --hover--color: rgba(50, 49, 45, 0.4);
  --header-hiden: none;
}

@media (prefers-color-scheme: light) {
    :root {
  --color-card: #353430;
  --color-menu: #353430;
  --color-title: #FFC2E6;
  --color-title-decor: #353430;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --hover--color: rgba(50, 49, 45, 0.4);
  --header-hiden: none;
  }
}